body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#game-container-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    outline: 5px solid rgb(84, 84, 84);
    margin: 0;
    padding: 0;
}

.game-history-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-history-container {
    display: grid;
    grid-template-columns: repeat(8, 35px);
    grid-template-rows: repeat(8, 35px);
    outline: 5px solid rgb(26, 20, 1);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.turn-indicator {
    /* align-self: flex-start; */
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    /* margin-right: auto;
    margin: 10px 0; */
    padding: 5px 10px;
}

.timer {
    align-self: flex-end;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px 0;
    padding: 5px 10px 5px 30px;
    background-color: rgb(23, 150, 40);
    border-radius: 15px;
}

#white_timer {
    margin-left: auto;
}

.square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: none;
}

.square-hist {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: none;
}


#column-labels {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 400px;
}

#row-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 20px;
    position: absolute;
    left: -50px;
    top: 0;
}

.coordinate-label {
    font-size: 18px; 
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 50px; 
    line-height: 50px;
    text-align: center; 
    color: rgb(250, 250, 250);
}

.dark {
    background-color: #694507;
}

.light {
    background-color: #F5D7A4;
}

.piece {
    width: 45px;
    height: 45px;
}

.piece-hist {
    width: 30px;
    height: 30px;
}

.selected {
    background-color: #e3db9d; 
    box-shadow: inset 2px 2px 5px #000000; 
}

.invalid-move {
    background-color: red !important;
}

.button {
    background-color: #687241; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: auto;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    user-select: none;
}

.start-button {
    padding: 10px, 5px;
    margin: auto;
    border: double 2px #000000;
}


.reset-button {
    padding: 10px, 5px;
    margin: auto;
}

.reset-button:hover {
    background-color: #c1ce88;
    color: black;
}

#resign-button {
    background-color: #6e433d;
}

#resign-button:hover {
    background-color: #c43620;
    color: black;
}

#bottom-row {
    margin-top: 20px;
}

.end-message {
    padding: 15px 32px;
    margin: auto;
    background-color: lightgrey;
    color: black;
    text-align: center;
    font-size: 12px;
    font-family: "Lucida Console", "Courier New", monospace;
}

h3 {
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px;
    padding: 5px;
    background-color: #28282863;
    color: white;
    border-radius: 10px;
}

#dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn {
    background-color: #537992;
    color: white;
    padding: 10px 5px;
    border-radius: 5px;
    border: solid 2px #081c37;
    font-size: 12px;
    font-family: "Lucida Console", "Courier New", monospace;
    border: none;
    cursor: pointer;
    user-select: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #5f8cab;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f4769;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    display: block;
    width: 100%;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
}

.dropdown-content button:hover {background-color: #8b3fa0;}

.show {display: block;}

.time-trouble {
    background-color: #c43620;
    color: white;
}

.material-cnt {
    background-color: rgba(31, 33, 167, 0.4);
    color: white;
    align-self: flex-end;
    font-size: 12px;
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 10px 0;
    padding: 5px 5px;
    border: 2px solid #694507;
    border-radius: 10px;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table, th, td {
    border: 3px solid black;
  }

#back-btn {
    margin-top: 15px;
}

p {
    display: inline-block;
    background-color: #11433c34;
    color: white;
    padding: 5px;
    margin: 5px;
    border: 3px solid #93a738;
    border-radius: 8px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 10px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100px;
}

.navigation-buttons button {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    height: 35px;
    width: 50px;
    border: 3px solid #101010;
    border-radius: 3px;
    background-color: #717171;
    cursor: pointer;
    color: black;
}

.navigation-buttons button:hover {
    color: #fffeaa;
    background-color: #282828;
}

td {
    padding: 20px;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%; 
    border-collapse: collapse;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #d4d4d4cc;
}

th, td {
    text-align: center; 
    vertical-align: middle; 
}

h1 {
    display: inline-block;
    background-color: #21e1c84c;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-bottom: 25px;
    border: 5px solid #758435;
    border-radius: 8px;
    font-family: "Lucida Console", "Courier New", monospace;
}

th {
    height: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}